---
import { Configuration, DefaultApi } from "../../api";
import Layout from "../../layouts/Layout.astro";
import { getAccessToken, isLoggedIn } from "../../lib/auth0";

if (!isLoggedIn(Astro)) {
  return Astro.redirect("/");
}

const api = new DefaultApi(
  new Configuration({
    basePath: import.meta.env.BACKEND_URL,
    accessToken: () => getAccessToken(Astro),
  })
);
const model = await api.requiresAuthRequiresAuthGet();
---

<Layout title="Authenticated">
  <div>{model}</div>
</Layout>
