---
// https://react-jsonschema-form.readthedocs.io/en/latest/
import { z } from "zod";
import { ZodForm } from "../../components/ZodForm";
import Layout from "../../layouts/Layout.astro";

const scheme = z.object({
  name: z.coerce.string().optional(),
  date: z.coerce.date().optional(),
  age: z.coerce.number().default(0),
});
const rawFormData = Array.from(Astro.url.searchParams.entries())
  .filter((x) => x[1])
  .reduce((acc, [x, y]) => {
    acc[x] = y;
    return acc;
  }, {} as Record<string, any>);

const formData = scheme.parse(rawFormData);
---

<Layout title="Form example">
  <div class="container">
    <ZodForm scheme={scheme} formData={formData} name="Sample form" />
  </div>
</Layout>
