---
// https://react-jsonschema-form.readthedocs.io/en/latest/
import { object, string } from "yup";
import { YupForm } from "../../components/YupForm";
import Layout from "../../layouts/Layout.astro";

const yupScheme = object({
  name: string().optional(),
  age: string().optional(),
});
const rawFormData = Array.from(Astro.url.searchParams.entries())
  .filter((x) => x[1])
  .reduce((acc, [x, y]) => {
    acc[x] = y;
    return acc;
  }, {} as Record<string, any>);

const formData = await yupScheme.validate(rawFormData);
---

<Layout title="Form example">
  <div class="container">
    <YupForm scheme={yupScheme} formData={formData} />
  </div>
</Layout>
